Flask==2.3.3
mysql-connector-python==8.1.0
python-dotenv==1.0.0
google-generativeai==0.3.2
reportlab==4.0.4
html2image==2.0.7
spacy==3.7.2
blis==0.7.9
gtts==2.4.0
twilio==8.10.0
bcrypt==4.0.1 
gunicorn==21.2.0
APScheduler==3.10.4
Pillow==10.0.1
